<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="styles.css">
<title>Contact Us | Rhumist</title>

<style type="text/css">
    .logo__top__screen {
        background-color: black;
        color: white;
        font: hind-bold;
    }
    .body__background {
        background-color: black;
        color: white;
        font: hind;
    }
</style>

<header>
    <td>
        <h3 class="logo__top__screen">Rhumist</h3>
    </td>
    <td>
        <p> <a href="menu.html">Menu Burger Logo</a></p>
    </td>
</header>

<body class="body__background">
    <main>
        <h1> Contactez-nous</h1>
        <p>Contactez-nous via email: <strong> contact.rhumist@gmail.com </strong>
        </p>
    </main>
</body>
