<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="styles.css">
<title>Menu | Rhumist</title>

<header>
    <ul class="header__menu__bar">
        <li class="logo__top__screen">Rhumist</li>
    </ul>
    <div> <a href="">X - Escape button</a> </div>
</header>

<body class="body__background">
    <main>
        <div>
            <nav>
                <ul class="menu__list__items">
                    <li><a href="reco list.html">Nos Recommandations</a></li>
                    <li><a href="my orders.html">Commandes</a></li>
                    <li><a href="contact.html">Nous contacter</a></li>
                    <li><a href="settings.html">Profil</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="terms.html">Termes et Conditions</a></li>
                    <li><a href="cart.html">Votre Panier</a></li>
                </ul>
            </nav>
        </div>
    </main>
</body>
