<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="styles.css">
<title>Mes commandes | Rhumist</title>

<header>
    <td>
        <h3 class="logo__top__screen">Rhumist</h3>
    </td>
    <td>
        <p> <a href="menu.html">Menu Burger Logo</a></p>
    </td>
</header>

<body>
	<div>
		<h3>MES COMMANDES</h3>
	</div>

	<div class="past_orders_list">
		<div>
		Voici la liste de vos commandes passées:
		</div>
	<!-- if user_total_orders = 0 then -->
		<div>
		Oups, aucune commande n'a encore été passée.
		<!-- if user_total_orders > 0 then display past orders-->
		</div>
	<div>
</body>
