<!doctype html>
<meta charset='utf-8'>
<title>Merci pour votre achat</title>
<meta name='viewport' content='width=device-width,initial-scale=1'>
<meta name='theme-color' content='orange'>

<!-- External Files loaded from the other tabs -->
<link rel='manifest' href='manifest.json'>
<link rel='stylesheet' href='styles.css'>
<script src='script.js'></script>
<script src='aframe.js'></script>

<body class="body__background">
	<div class="main__thank__you">
		<h1> Merci pour votre achat.</h1>
		<h2> Nous vous redirigeons vers la page de suivi de commande.</h2>
	</div>
</body>
