option_settings:
  "aws:elasticbeanstalk:customoption":
    CacheNodeType : cache.t2.micro
    NumCacheNodes : 1
    Engine : redis
    CachePort : 6379
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:eu-west-1:851891906388:certificate/f8f45726-c86c-4743-a55e-1c7cd8f7e124
    ListenerProtocol: HTTPS
    InstancePort: 80
